<!-- 
File: create_review_form.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This is the template for creating a new review in the terrier_study app.
-->

{% extends "terrier_study/base.html" %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <h2>Write a Review</h2>

    #make a post request 
    <form method="post">
        {% csrf_token %}

        <!-- these fields for the review form -->
        <p>
            <label><strong>Rating (1-5):</strong></label><br>
            {{ form.rating }}
        </p>

        <p>
            <label><strong>Your Review:</strong></label><br>
            {{ form.text }}
        </p>

        <p>
            <label><strong>Image URL (optional):</strong></label><br>
            {{ form.image_url }}
        </p>

        <!-- if there are any errors (the rating) then throw an error message -->
        {% if form.errors %}
            <div>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- submit button -->
        <button type="submit" class="primary-button">Submit Review</button>
        <a href="{% url 'studyroom-detail' room_id %}" class="primary-button">Cancel</a>
    </form>

</div>

{% endblock %}
