<!-- 
File: create_studyroom_form.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This is the template for creating a new study room in the terrier_study app.
-->


{% extends "terrier_study/base.html" %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <h2>Create a New Study Room</h2>
    

    <!-- check if the user is authenticated -->
    {% if not request.user.is_authenticated %}
        <p>Sorry, you must be logged in to access this feature.</p>

        <a href="{% url 'login' %}" class="primary button">Log In</a>
        <br><br>
        <a href="{% url 'home' %}" class="primary button">Back to Home</a>

    {% else %}

        <!-- form to create a new study room -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="primary-button">Create Study Room</button>
        </form>

    {% endif %}

</div>

{% endblock %}