<!-- 
File: delete_review_confirm.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This is the template for confirming the deletion of a review in the terrier_study app.
-->


{% extends "terrier_study/base.html" %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <h2>Delete Review</h2>
    <p>Are you sure you want to delete your review for <strong>{{ review.study_room.name }}</strong>?</p>

    <!-- form to confirm deletion -->
    <form method="post">
        {% csrf_token %}

        <button type="submit" class="primary-button">Delete Review</button>

        <a href="{% url 'studyroom-detail' review.study_room.pk %}" class="primary-button">
            Cancel
        </a>
    </form>

</div>

{% endblock %}

