<!-- 
File: update_profile_form.html
Author: Ruby Chen
Description: Update profile form for TerrierStudy.
-->

{% extends "terrier_study/base.html" %}

{% block content %}

<div class="page-wrapper">

    <!-- Header -->
    <div class="form-header">
        <h1>Edit Profile for {{ request.user.username }}</h1>
    </div>

    <!-- Update Profile Form -->
    <form method="post">
        {% csrf_token %}

        <table class="profile-table">
            <tr>
                <th>{{ form.year.label_tag }}</th>
                <td>{{ form.year }}</td>
            </tr>

            <tr>
                <th>{{ form.major.label_tag }}</th>
                <td>{{ form.major }}</td>
            </tr>
        </table>

        <div class="buttons-row">

            <!-- Save Changes -->
            <button type="submit" class="primary-button">
                Save Changes
            </button>

            <!-- Back Button styled as button -->
            <a href="{% url 'profile-detail' %}" class="primary-button">
                Back
            </a>

        </div>

    </form>

</div>

{% endblock %}
