<!-- 
File: voter_analytics/templates/voter_analytics/base.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: this template is the base layout for the voter analytics app.
-->


<!-- voter_analytics/templates/voter_analytics/base.html -->
{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'style_voters.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>

            <!-- Navigation to Home and Graph -->
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'voter_graphs' %}">Graphs</a></li>
                </ul>
 
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>
 