<!-- hw/template/hw/about.html  -->

{% extends "hw/base.html" %}
    
    {% block content %}

        <h1>About this page</h1>

        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores a earum aut tenetur quo at repellendus vitae, non molestiae perspiciatis architecto autem? Minima laboriosam illum mollitia incidunt consequatur, accusamus ipsum!
        </p>
        
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores a earum aut tenetur quo at repellendus vitae, non molestiae perspiciatis architecto autem? Minima laboriosam illum mollitia incidunt consequatur, accusamus ipsum!
        </p>

        <footer>
            The current time is {{time}}.
            <br>
            This page has been brought to you by the letters: 
            {{letter1}} and {{letter2}} and by the number {{number}}.
        </footer>

    {% endblock %}
   