<!-- 
File: dadjokes/templates/dadjokes/jokes.html
Author: Ruby Chen (rc071404@bu.edu)
Date: 11/16/2025
Description: Displays a listing of all dad jokes with links to  
individual joke detail pages.
-->

{% extends 'dadjokes/base.html' %}

{% block content %}

<h3>Gallery of All Dad Jokes</h3>

<main class="full-lists-container">

    <!-- loop thorugh all instances of jokes and have them listed out 
    with their specfic details -->
    
    {% for joke in jokes %}

    <article>
        <div>
            <h3>Joke #{{ joke.pk }}</h3>
            <p>{{ joke.text }}</p>
            <p><em>Created by {{ joke.contributor }} at {{ joke.timestamp }}</em></p>
        </div>

        <!-- link to specifc joke instance detail page -->
        <a class="button" href="{% url 'joke' joke.pk %}">
            <p>View Joke</p>
        </a>

        <hr>
    </article>

    {% endfor %}

</main>

{% endblock %}
