<!-- 
File: dadjokes/templates/dadjokes/joke_detail.html
Author: Ruby Chen (rc071404@bu.edu)
Date: 11/16/2025
Description: Displays a single dad joke, including text, contributor, 
and timestamp.
-->



{% extends 'dadjokes/base.html' %}

{% block content %}

<h3>Joke #{{ joke.pk }}</h3>

<main class="grid-container">

    <!-- Display the specific joke instance  -->

    <article>
        <div>
            <p>{{ joke.text }}</p>
            <br>
            <p><em>Created by {{ joke.contributor }} at {{ joke.timestamp }}</em></p>
            <br>
        </div>
        <hr>
    </article>

</main>

<!-- link back to all jokes page  -->
<a class="button" href="{% url 'jokes' %}">Back to All Jokes</a>

{% endblock %}
