<!-- 
File: dadjokes/templates/dadjokes/pictures.html
Author: Ruby Chen (rc071404@bu.edu)
Date: 11/16/2025
Description: Displays a list of all uploaded dad joke pictures.
-->

{% extends 'dadjokes/base.html' %}

{% block content %}

<h3>All Usagi Pictures</h3>

<main class="full-lists-container">

    <!-- loop through all picture instances and list them out with their details -->

    {% for picture in pictures %}
    <article>
        <div>
            <img src="{{ picture.image_url }}" alt="Usagi from Chiikawa" width="200">
            <p><em>Uploaded by {{ picture.contributor }} at {{ picture.timestamp }}</em></p>
        </div>

        <!-- link to specific picture instance detail page -->
        <a class="button" href="{% url 'picture' picture.pk %}">
            <p>View Picture</p>
        </a>
        <hr>
    </article>
    {% endfor %}

</main>

{% endblock %}