<!-- 
File: dadjokes/templates/dadjokes/random.html
Author: Ruby Chen (rc071404@bu.edu)
Date: 11/16/2025
Description: Shows one random dad joke and one random Usagi picture 
-->

{% extends 'dadjokes/base.html' %}

{% block content %}

<h3>Random Dad Joke with Usagi</h3>

<main class="grid-container">

    <article>
        <p>{{ joke.text }}</p>
        <p><em>— {{ joke.contributor }}</em></p>

         <img src="{{ picture.image_url }}" alt="Usagi from Chiikawa" width="300">

        <p><em>Added by {{ picture.contributor }}</em></p>
        <hr>
    </article>

</main>

<!-- link to refresh for another random joke and picture -->
<a class="button" href="{% url 'random' %}">Show Another Quote!</a>

{% endblock %}