
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100vh;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    padding-left: 2%;
    border-right: 1px solid #d4d4d4;
    background-color: #FFFCF7;
    font-size: calc(3px + 1vw);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li{
    margin: 10% 0;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #8B6449;
}

body{
    margin: 5% 0 7% 18%;
    font-family: poppins, sans-serif;
    display: flex;
    background-color: #FFFCF7;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 3%;
    font-size: calc(3px + 1vw);
}

main{
    width: 75vw
}

h1{
    font-size: calc(10px + 2vw);
    color: #8B6449;
}


h3{
    font-size: calc(7px + 1vw);
    color: #8B6449;
    margin: 1% 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 3% 0;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    font-size: calc(3px + 1vw);
    font-weight: 500;
    color: white;
    background-color: #8B6449;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 2%;
}

.full-lists-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
}