/* File: static/styles-mini-insta-updated.css
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This file defines the CSS stylesheet for the res app. */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100vh;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    padding-left: 2%;
    border-right: 1px solid #d4d4d4;
    background-color: #FFFCF7;
    font-size: calc(3px + 1vw);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li{
    margin: 10% 0;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #8B6449;
}

body{
    margin: 5% 0 0 18%;
    font-family: poppins, sans-serif;
    display: flex;
    background-color: #FFFCF7;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 3%;
    font-size: calc(3px + 1vw);
}

main{
    width: 75vw
}

#wrapper{
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

h1{
    font-size: calc(10px + 2vw);
    margin-bottom: 5%;
    color: #8B6449;
}


h3{
    font-size: calc(10px + 1vw);
    color: #8B6449;
    margin: 3% 0;
}

img{
    margin: 5% 0;
    border-radius: 15px;
    width:30%;
}

hr{
    margin: 3% 0;
}

footer{
    font-size: calc(2px + 1vw);
    padding-bottom: 3%;
    color: #888888;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
}

footer a{
    color: #888888;
}



/* Specfic styling for show_profile */

.image_and_followers{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}
#follower-link{
    text-decoration: none;
    color: #8B6449;
    font-size: calc(10px + 1vw);
    font-weight: 600;
}

#following-link{
    text-decoration: none;
    color: #8B6449;
    font-size: calc(10px + 1vw);
    font-weight: 600;
}

.followers{
    display: flex;
    width: 200px;
    flex-direction: row;
    gap: 20%;
}

.primary.buttons{
    margin-top: 2%;
}

