<!-- 
File: quotes.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This is the quotes section of the quotes app.
It displays a random quote from Patrick Star along with a random image of him.
-->

<!-- quote/template/quote/quote.html  -->

{% extends "quotes/base.html" %}
    
    {% block content %}

        <h1>Patrick Star Quote Generator</h1>

        <!-- random image -->

        <div class="quote_image">
            <img src="{{ image }}" alt="A pink starfish">
        </div>

        <!-- random quote -->

        <div id="quote_text">
            <p id="main_quote">"{{ quote }}"</p>
            <p><em>- Patrick Star</em></p>
        </div>

        <div class="button-container">
            <button onclick="window.location.reload();">New Quote</button>
        </div>

    {% endblock %}

