<!-- 
File: base.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This is the base template for the mini_insta app.
-->

{% load static %}

<html>

    <head>
        <title>Chiikawa Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'styles-mini-insta-updated.css' %}">
    </head>

    
    <body>

        <!-- Header and Nav for page  -->
        <header>
            <h1> Chiikawa Mini Instagram </h1>
        </header>

        <nav>
            <ul>

                 <!-- Public link for all visitors -->
                <li><a href="{% url 'show_all_profiles' %}">Show All</a></li>
                

                 <!-- URLs for logged in users only -->
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'show_feed' %}">Home Feed</a></li>
                    <li><a href="{% url 'create_post' %}">Create Post</a></li>
                    <li><a href="{% url 'show_user_profile' %}">My Profile</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>

                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    </li>   

                <!-- URLs for users who are not logged in -->
                {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'create_profile' %}">Register</a></li>

                {% endif %}
            </ul>

             <hr>

            <!-- Check if the current user is authenticated 
             if they are then display their user, if not then 
             display a message saying htey're not logged in-->

            {% if request.user.is_authenticated %}
                Logged in as: {{ request.user }}.
            {% else %}
                Not logged in.
            {% endif %}
            
        </nav>
        
    
        <!-- specfied page content here  -->
        <main>

        {% block content %}
        {% endblock %}

        </main>

        <!-- footer with a nav link to all profiles and 
         something to create a new post if in a profile-->
        <footer>
            <p>&#169 Ruby Chen 2025. All rights reserved</p>

             <!-- Public link for all visitors -->
            <p><a href="{% url 'show_all_profiles' %}">All Profiles</a></p>

            <!-- URLs for logged in users only -->
             
            {% if request.user.is_authenticated %}
            
                <!-- Profile home feed -->
                <p>
                    <a href="{% url 'show_feed' %}">Home Feed</a>
                </p>

                <!-- Create Post  -->
                <p>
                    <a href="{% url 'create_post' %}">Create Post</a>
                </p>
                
                <!-- Nav to user Profile  -->
                <p>
                    <a href="{% url 'show_user_profile' %}">My Profile</a>
                </p>

                <!--Search Functionality -->
                <p>
                    <a href="{% url 'search' %}">Search</a>
                </p>


            {% endif %}
        </footer>
    </body>

</html>