
{% extends 'mini_insta/base.html' %}

{% block content %}


<main class="grid-container"> 

    <profile>
        <div>
            <h2>{{ profile.username }}</h2>
            <h3>by {{ profile.display_name }}</h3>
            <p>{{ profile.bio_text }}</p>
        </div>

        <a href="{% url 'profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="images of the chiikawa characters">
        </a>

        <p>{{ profile.join_date }}</p>
        <hr>
        {% endfor %}
    </profile>
   
</main>

{% endblock %}