
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Show all Profiles</h1>

<main class="grid-container"> 
    {% for profile in profiles %}
    <profile>
        <div>
            <h2>{{ profile.username }}</h2>
            <h3>by {{ profile.display_name }}</h3>
            <p>{{ profile.bio_text }}</p>
        </div>

        <a href="{% url 'profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="">
        </a>

        <p>{{ profile.join_date }}</p>
        <hr>
        {% endfor %}
    </profile>
</main>

{% endblock %}



