
{% extends 'mini_insta/base.html' %}

{% block content %}


<main class="wrapper"> 

    <profile>
        
        <hr>
        <div class="profile-text">
            <h2>@{{ profile.username }}</h2>
            <h3>{{ profile.display_name }}</h3>
            <p>{{ profile.bio_text }}</p>
        </div>

        <a href="{% url 'show_profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="images of the chiikawa characters">
        </a>

        <p>{{ profile.join_date }}</p>
        <hr>
    </profile>
   
</main>

{% endblock %}