
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>All Profiles</h1>

<main class="wrapper"> 
    <hr>
    {% for profile in profiles %}
    <profile>
        <div class="profile-text">
            <h2>@{{ profile.username }}</h2>
            <h3>{{ profile.display_name }}</h3>
            <p>{{ profile.bio_text }}</p>
        </div>

        <a href="{% url 'show_profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="" width="40%">
        </a>

        <p>{{ profile.join_date }}</p>
        <hr>
        {% endfor %}
    </profile>
</main>

{% endblock %}



