


{% extends 'mini_insta/base.html' %}

{% block content %}

    <!-- Header for Create Post -->
    <div class="form-header">
        <h1>Update a post for {{ profile.username }}</h1>
        <img src="{{ profile.profile_image_url }}" alt="images of the chiikawa characters">
    </div>

    <!-- Form for Creating Post with Image URL field and submission buttons -->
    <form method="post">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Update Post">
        <a href="{% url 'show_profile' object.profile.pk %}">
            <input type="button" value="Back">
        </a>

    </form>

{% endblock %}