<!-- 
File: update_post_form.html
Author: Ruby Chen (rc071404@bu.edu), 7/14/2004
Description: This is the update post form template for the mini_insta app.
-->


{% extends 'mini_insta/base.html' %}

{% block content %}

    <!-- Header for Update Post -->
    <div class="form-header">
        <h1>Update a post for {{ profile.username }}</h1>
        <img src="{{ profile.profile_image_url }}" alt="images of the chiikawa characters">
    </div>

    <!-- Form for Updating Post with caption field and submission buttons -->
    <form method="post">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Update Post">
        <a href="{% url 'show_user_profile' %}">
            <input type="button" value="Back">
        </a>

    </form>

{% endblock %}